/* _base.scss - Base rules are the reset elements for all browsers,
 * and the settings of headings sizes,
 * default link styles,
 * default fonts styles and body backgrounds...
 *
 * Please verify that this file is correctly import into screen.scss,
 * the initializer file... (or equivalent):
 * @import "_base.scss"; */

/*
 * __ELEMENTS
/*
*/
  body {
    font-family: $typo;
    line-height: 1.4;
    background: #fff;
    color: $text-color;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
  }
  
  strong {
    font-family: $typo;
    font-weight: bold;
  }

  .is-light {
    font-weight: 100;
  }

  .is-black {
    font-weight: 900;
  }

  .is-bold {
    font-weight: bold;
  }

  .is-uppercase {
    text-transform: uppercase;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $typo-heading;
    font-weight: normal;
    margin-top: 0;
  }

  ul {
    padding-left: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }

  a {
    font-family: $typo;
    font-weight: normal;
    color: $link-color;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $link-color;
    }
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }
