/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

// L'ORDRE D'IMPORTATION EST IMPORTANT ! //
// ************************************* //
  @import "theme/entypo.css.scss";
  @import "theme/tools.css.scss";
  @import "theme/base.css.scss";
  @import "theme/layout.css.scss";
  @import "theme/forms.css.scss";

#header-page, 
#footer-page {
  background-image: image-url("mountain.jpg");
  background-size: cover;
}

#header-page {
  background-position: top center;
  height: 100vh;
}

#footer-page {
  background-position: bottom center;
  height: 40vh;
  position: relative;
  &:after {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: rgba(0,0,0,.3);
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
  }
  &:hover {
    &:after {
      background: rgba(0,0,0,.8);
    }
  }
}

#hero-unit {
  position: relative;
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  .text-center {
    margin-bottom: 100px;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -23px;
}

.profile {
  margin-bottom: 30px;
  img {
    @include border-radius(100%);
    padding: 4px;
    background: #fff;
    height: 140px;
  }
}

#work {
  height: 900px;
}








