%footer
  #footer-page
    .table
      .table-cell
        .container.text-center
          #social-links
            %h2.is-black 
              I'm everywhere... 
              %br/ 
              follow me if you can.
            %ul
              %li
                = link_to "#" do
                  %i.entypo-facebook3
              %li
                = link_to "#" do
                  %i.entypo-twitter
              %li
                = link_to "#" do
                  %i.entypo-github
              %li
                = link_to "#" do
                  %i.entypo-linkedin
              
